## General ----
*.swp
*.swo
*.html
*.pdf
*.Rproj
.DS_Store
.RData
.Rhistory
.Rproj.user
.httr-oauth
rTASSEL_log
rtassel_log.txt
vignettes/*.log
vignettes/figure/


## R projects ----
*.Rproj
docs
docs/


## `testthat` problems ----
tests/testthat/*.rds


## JOSS ----
*.jats


## JAR files (downloaded via setupTASSEL() from Maven Central) ----
inst/java/*.jar
inst/java/*.dylib
inst/java/*.dll
inst/java/*.so


