## General ----
*.swp
*.swo
*.html
*.pdf
*.Rproj
.DS_Store
.RData
.Rhistory
.Rproj.user
.httr-oauth
rTASSEL_log
vignettes/*.log
vignettes/figure/


## R projects ----
*.Rproj
docs
docs/


## `testthat` problems ----
tests/testthat/*.rds


## JOSS ----
*.jats
