image: dividor/rocker-h2o-db-wemmodels

pipelines:
  default:
    - step:
        script:
          - Rscript -e 'devtools::install_deps(".", dependencies=TRUE, upgrade=FALSE)'
          - Rscript -e 'devtools::build()'
          - Rscript -e 'devtools::install(upgrade_dependencies = FALSE)'
          - Rscript -e 'library("methods"); devtools::check()'